.pagination{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    padding: 10px 20px;
    background-color: #E0F2F1;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.pagination>button{
    background-color: #90c3d4;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight:bold;
}

.pagination>button:disabled{
    background-color: #c0c8cc;
}