body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(135deg, #2B3A3F, #3E5A65, #B4C7C9);
  background-size: cover;

}
.goldFlexWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navLinks{
  margin: 10px;
}
.main{
  width: 90vw;
  min-height: 90vh;
  margin: 5vh auto;
  background-color: #E0F2F1;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.11);
}
